/.env
/.env.example
/payment/.env

# Binaries and executables
*.exe
*.o
*.so
main.exe
bin/

# Python environments and cache
.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
